body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    font-size: 1.9em;
    background-color: #9788c2;
    min-width: 50vh;
    min-height: 50vh;
    border-radius: 10px;
}

.auth-main-title {
    text-align: center;
}

.form-block {
    display: grid;
    gap: 8px;
}

.input-field {
    height: 45px;
    border-radius: 10px;
}

.auth-submit-button {
    height: 45px;
    background-color: cornsilk;
    border-radius: 10px;
}
